# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# Σ 
title: Σ ウイエム 
email: "wiem.benrim(at)nlp.c.titech.ac.jp"
description: >- # this means to ignore newlines until "baseurl:"
 "Graduate student, NLP enthusiast, avid gamer, occasional couch potato, sporadic app developer. "
twitter_username: "@PhaelIshall"
github_username: "PhaelIshall"
minimal_mistakes_skin: "dark"
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: TIMEZONE

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Wiem Ben Rim"
  avatar: "/assets/images/pic.JPG"
  bio: "Research Associate at NEC Laboratories Europe, MEng. Artificial Intelligence"
  location: "Germany / Japan"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:wiem.benrim(at)nlp.c.titech.ac.jp"
    - label: "Youtube"
      icon: "fab fa-youtube"
      url: "https://www.youtube.com/channel/UC_L41CokXok3edg46zTlb2A"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/PhaelIshall"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/phaelishall"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/survivingeducation"
#     - label: "Email"
#       icon: "fas fa-fw fa-envelope-square"
#       url: "mailto:wiem.benrim(at)nlp.c.titech.ac.jp"
#    - label: "GitHub"
#      icon: "fab fa-fw fa-github"
#      url: "https://github.com/phaelishall"
#     - label: "Twitter"
#       icon: "fab fa-fw fa-twitter-square"
#       url: "https://twitter.com/PhaelIshall"
#     - label: "Instagram"
#       icon: "fab fa-fw fa-instagram"
#       url: "https://instagram.com/survivingeducation"
#    - label: "Youtube"
#       icon: "fab fa-youtube"
#       url: "https://www.youtube.com/channel/UC_L41CokXok3edg46zTlb2A"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/PhaelIshall"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/phaelishall"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/survivingeducation"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
